# Ignore virtual environment
env/

# Ignore dataset files
*.csv

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore other notebooks you don't want
Untitled*.ipynb
env/
*.csv
.ipynb_checkpoints/
Untitled*.ipynb
